on property:vold.decrypt=trigger_restart_framework
    setprop soter.teei.vold.decrypt OK

on post-fs-data
    write /proc/bootprof "start teei cfg (on post-fs-data)"
    mkdir /data/thh
    mkdir /data/thh/system
    mkdir /data/thh/tee_00
    mkdir /data/thh/tee_01
    mkdir /data/thh/tee_02
    mkdir /data/thh/tee_03
    mkdir /data/thh/tee_04
    mkdir /data/thh/tee_05
    mkdir /data/thh/tee_06
    mkdir /data/thh/tee_07
    mkdir /data/thh/tee
    mkdir /data/thh/tee/tas
    mkdir /data/thh/tee_08
    mkdir /data/thh/tee_09
    mkdir /data/thh/tee_0A
    mkdir /data/thh/tee_0B
    mkdir /data/thh/tee_0C
    mkdir /data/thh/tee_0D
    mkdir /data/thh/tee_0E
    mkdir /data/thh/tee_0F
    chmod 0755 /data/thh
    chown system system /data/thh
    chmod 0755 /data/thh/system
    chown system system /data/thh/system
    chmod 0755 /data/thh/tee_00
    chown system system /data/thh/tee_00
    chmod 0755 /data/thh/tee_01
    chown system system /data/thh/tee_01
    chmod 0755 /data/thh/tee_02
    chown system system /data/thh/tee_02
    chmod 0755 /data/thh/tee_03
    chown system system /data/thh/tee_03
    chmod 0755 /data/thh/tee_04
    chown system system /data/thh/tee_04
    chmod 0755 /data/thh/tee_05
    chown system system /data/thh/tee_05
    chmod 0755 /data/thh/tee_06
    chown system system /data/thh/tee_06
    chmod 0755 /data/thh/tee_07
    chown system system /data/thh/tee_07
    chmod 0755 /data/thh/tee
    chown system system /data/thh/tee
    chmod 0755 /data/thh/tee/tas
    chown system system /data/thh/tee/tas
    chmod 0755 /data/thh/tee_08
    chown system system /data/thh/tee_08
    chmod 0755 /data/thh/tee_09
    chown system system /data/thh/tee_09
    chmod 0755 /data/thh/tee_0A
    chown system system /data/thh/tee_0A
    chmod 0755 /data/thh/tee_0B
    chown system system /data/thh/tee_0B
    chmod 0755 /data/thh/tee_0C
    chown system system /data/thh/tee_0C
    chmod 0755 /data/thh/tee_0D
    chown system system /data/thh/tee_0D
    chmod 0755 /data/thh/tee_0E
    chown system system /data/thh/tee_0E
    chmod 0755 /data/thh/tee_0F
    chown system system /data/thh/tee_0F

        copy /system/vendor/thh/tee1_prikey.pem /data/thh/tee_00/tee1_prikey.pem
        chown system system /data/thh/tee_00/tee1_prikey.pem
        copy /system/vendor/thh/thh_meizu_mt6750_m1811.certs /data/thh/tee_00/thh_meizu_mt6750_m1811.certs
        chown system system /data/thh/tee_00/thh_meizu_mt6750_m1811.certs
        copy /system/vendor/thh/thh_meizu_mt6750_m1811.cfg /data/thh/tee_00/thh_meizu_mt6750_m1811.cfg
        chown system system /data/thh/tee_00/thh_meizu_mt6750_m1811.cfg

    restorecon_recursive /data/thh
    setprop soter.encrypt.state OK
    write /proc/bootprof "start teei cfg end (on post-fs-data)"

on fs
    chmod 0666 /dev/teei_client
    chown system system /dev/teei_client
    chmod 0666 /dev/teei_config  
    chown system system /dev/teei_config
    chmod 0660 /dev/tz_vfs
    chown system system /dev/tz_vfs
    chmod 0666 /dev/teei_fp
    chown system /dev/teei_fp
    chown keystore shell /dev/ut_keymaster
    chmod 0666 /dev/ut_keymaster
    chmod 0660 /dev/emmcrpmb0
    chown system system /dev/emmcrpmb0
    chown system system /dev/utr_tui
    chmod 0660 /dev/utr_tui
    write /proc/bootprof "start teei_daemon (on fs)"
    start teei_daemon
    write /proc/bootprof "start teei_daemon end (on fs)"

# teei service daemon
service teei_daemon /vendor/bin/teei_daemon
    class core
    user system
    group system
    disabled
   # oneshot

on property:soter.teei.init=INIT_OK
    write /proc/bootprof "start ut_clientd (on fs)"
    start ut_clientd
    write /proc/bootprof "start ut_clientd end (on fs)"
    start init_thh_service
    start utr_tui_daemon
    write /proc/bootprof "start ifaad (on fs)"
    start ifaad
    write /proc/bootprof "start ifaad end (on fs)"

service init_thh_service /vendor/bin/init_thh startload
    class core
    user system
    group system
    disabled
    oneshot
    
service utr_tui_daemon /vendor/bin/utr_tui_daemon
    class core
    user system
    group system
    disabled

# ifaa daemon
service ifaad /system/vendor/bin/ifaad
    class core
    user system
    group system
    disabled

# init_thh daemon
service ut_clientd /vendor/bin/ut_clientd
    class core
    user system
    group system shell
    disabled
    
